<h1> Jobs at <%=current_user.name%></h1>

<%current_user.jobs.each do |job|%>
<p><a href="jobs/<%= job.id %>"> <%= job.name%> </a> 
    <%if logged_in? && current_user == job.user%>
        <a href="jobs/<%= job.id %>/edit">    (edit)</a> <br> </p>
    <%end%>
<%end%>

<a href="/jobs/new"> Create a new Job </a>
