<br>
<h2> Job :  </h2>
<h3> <%= @job.name%> </h3> <br>
<p> <u>Tasks: </u></p>

<%@job.tasks.each do |task|%>
<p> <ol><li><%=task.description%></li> </ol></p>
<%end%>
<i><a href="/tasks" > (*View all)</a> <br>
<a href="/jobs/new">  (*Add another new job) </a>
</i><br> <br>
<br>

<% if logged_in? && current_user.id == @job.user.id%>
<a href="<%= @job.id %>/edit"> Edit</a> <br> 
<form action="/jobs/<%= @job.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Job">
</form>
<%end%>

