<h2>  Welcome to the Task-Process Log for: <i> **<%=@user.name %>** </i> </h2>

<a href="/jobs/new"> Create a new Job </a>

<br><br>

<a href="/global_processes/new"> Create a new Global Process </a>

<br><br>


<%if logged_in? && current_user.id == @user.id%>
      <a href="/jobs" > Jobs   </a> <br><br>
      <a href="/global_processes" > Processes   </a> <br> <br>
      <a href="/tasks" > View all </a> <br> 

<%end%>




