<%if logged_in? && current_user.id == @user.id%>

<h2>  Welcome to the Task-Process Log for: <i> **<%=@user.name %>** </i> </h2>

<br>

<p> To get started, <a href="/global_processes/new">create a new process <a> and its tasks. Then assign a job to the new tasks you created.</p>

<a href="/tasks" > View all</a> <br> <br>

<a href="/global_processes" > Processes   </a> <br> <br>

<a href="/jobs" > Jobs   </a> <br><br>

<%end%>




