
<form method="POST" action="/global_processes">

  <input style="font-size:25px;" type="text" id="global_process_name" name="global_process[name]" value="New Process">

 <br><br>

<h3> Current tasks: </h3>
<% current_user.tasks.each do |task| %>
  <input type="checkbox" name="global_process[task_ids][]" id="<%= task.id %>" value="<%= task.id %>">  <%= task.description %><br>
<% end %> 
<br>

<p> <i> Add a new task: </i> </p>
  <textarea  type="text" name="task[description]" rows="5" cols="30">Make customer happy </textarea>
    <br>

<input type="submit" value="Create New Global Process">  

</form>