<h1> You have created the Global Process:   </h1>
<h3> <%= @global_process.name%> </h3>
<h1> with tasks: </h1>

<%@global_process.tasks.each do |task|%>
<h3> <ol><li><%=task.description%></li> </ol></h3>
<%end%>
<br>

<form action="/global_processes/<%= @global_process.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Global Process">
</form>
