<h2> Process: </h2>
<h3> <%= @global_process.name%> </h3> <br>
<p> <u> Tasks: </u> </p>

<%@global_process.tasks.each do |task|%>
<p> <ol><li><%=task.description%></li> </ol></p>

<%end%>
<i> (*You can assign tasks to a <a href="/jobs/new">  new job </a> or to an <a href="/jobs"> existing job.) </a> </i>
<br><br>

<% if logged_in? && current_user.id == @global_process.user.id%>
<a href="<%= @global_process.id %>/edit">    Edit</a> <br> 

<form action="/global_processes/<%= @global_process.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
<%end%>
